* {
  margin: 0;
  scroll-behavior: smooth;
}

.Home {
  font-family: "Krona One";
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#disappearingProjSection {
  display: none;
}

@media only screen and (max-width: 769px) {
  #disappearingProjSection {
    display: block;
  }

  #containedProjDesc{
    display: none;
  }
}

@font-face {
  font-family: "Krona One";
  src: local("KronaOne"),
    url(./fonts/KronaOne/KronaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./fonts/Montserrat/static/Montserrat-Medium.ttf) format("truetype");
}