* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Krona One";
}

.Home {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: "Krona One";
  src: local("KronaOne"),
    url(./fonts/KronaOne/KronaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./fonts/Montserrat/static/Montserrat-Medium.ttf) format("truetype");
}